extends template

block title
  title Леди Баг 

block content
  +block-content-2('https://www.youloveit.ru/uploads/posts/2017-06/1496752530_youloveit_ru_novaya_kartinka_ledi_bag.jpg', 'Леди Баг', 'Адриан и Маринетт — старшеклассники, почти как все остальные. При малейшей угрозе Парижу они становятся Леди Баг и Супер-котом. Их миссия — захватить акум (тёмных бабочек), которые превращают людей в суперзлодеев. Когда герои объединяются, каждый из них не знает истинной личности другого. Маринетт не знает, что Супер-кот на самом деле Адриан — мальчик в которого она тайно влюблена, а Адриан, чьё сердце бьётся ради Леди Баг, не знает, что под маской супер-героини скрывается милая и ветреная одноклассница.')
    
block footer 
  +footer-short-page 